<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<!-- Use environment variable for the connection string -->
	<variable name="logDirectory" value="${basedir}/logs" />
	<variable name="connectionString" value="${environment:SampleWebApi.ConnectionString}" />

	<!-- Targets configuration -->
	<targets>
		<target name="file" xsi:type="File"
		        fileName="${logDirectory}${shortdate}.log"
		        layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} | ${exception:format=tostring:innerFormat=shortType,message,stacktrace:maxInnerExceptionLevel=5}" />

		<target name="database" xsi:type="Database"
		        connectionString="${connectionString}">
			<commandText>
				INSERT INTO Logs (LogDate, LogLevel, Logger, Message, Exception)
				VALUES (@logDate, @logLevel, @logger, @message, @exception)
			</commandText>
			<parameter name="@logDate" layout="${longdate}" />
			<parameter name="@logLevel" layout="${level}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:format=tostring:innerFormat=shortType,message,stacktrace:maxInnerExceptionLevel=5}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="file,database" />
	</rules>
</nlog>